.main {
    position: relative;

    background-color: #f2f2f2;
}

.maindiv {
    left: 50%;
    top: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.title_bar {
    width: 100%;
    height: 20%;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #f2f2f2;
}

.title_bar h1 {
    font-family: 'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace',
        'Source Code Pro', 'Fira Mono', 'Droid Sans Mono', 'Courier New',
        monospace;
}

.connect_button {
    border-radius: 5px;
    width: 200px;
    height: 40px;
    line-height: 40px;
    background-color: #b8e5fe;
    text-align: center;
    font-size: 10pt;
    cursor: default;
}

.connect_button:hover {
    background-color: #66c8fe;
}

.connect_button:active {
    background-color: #ccecfe;
}

.unconnect_button {
    border-radius: 5px;
    width: 200px;
    height: 40px;
    line-height: 40px;
    background-color: #ff8282;
    text-align: center;
    font-size: 10pt;
    cursor: default;
}

.unconnect_button:hover {
    background-color: #ff3535;
}

.unconnect_button:active {
    background-color: #f9bfbf;
}

.datatable {
    width: 95%;
    margin-bottom: 10em;
    /* height: 1000px; */
    display: flex;
    flex-direction: column;
    border-color: red;
    /* border: 10px solid #555555; */
    /* justify-content: center; */
    align-items: center;
    z-index: 0;
}

.datatable table {
    background-color: #f2f2f2;
    /* border: 1px solid #FFFFFF; */
    /* border-collapse: collapse; */
    border-spacing: 0;
    width: 100%;
    color: black;
    border-radius: 5px;

    box-shadow: 0 0px 4px 2px #ccecfe;
}

.datatable th {
    position: relative;
    background-color: #ddf9fe;
    /* border-bottom: 5px solid #555555;
    border-right: 1px solid #555555;
    border-left: 1px solid #555555; */
    font-size: 14pt;
    margin: 20px;
    z-index: 0;
    height: 50px;
}

.datatable tr {
    text-align: center;
}

.entry_row td {
    position: relative;
    text-align: center;
    /* border-collapse: collapse; */
    border: 1px solid #cbe9e9;
    /* background-color: crimson; */
    height: 50px;
    font-size: 14pt;
    /* z-index: 0; */
    /* border-radius: 30px; */
}

.norow {
    height: 40px;
}

.addrow {
    background-color: #c5fbfd;
    /* box-shadow: 2px 2px 2px 2px gray;s */

    border-bottom-left-radius: 2em;
    border-bottom-right-radius: 2em;

    height: 50px;
}

.addrow_td {
    /* back  border-right: 2px solid #555555;
  border-left: 2px solid #555555;ground-color: #66C8FE; */
    /* border-top: 5px solid #555555; */
    height: 50px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;

    overflow: hidden;
}

@keyframes slideInFromLeft {
    0% {
        transform-origin: top;
        transform: scaleY(0.1);
        /* height: 0px; */
        z-index: 0;
        overflow: hidden;
    }
    100% {
        transform-origin: top;
        /* height: 50px; */
        transform: scaleY(1);
        z-index: 0;
        overflow: hidden;
    }
}

.newrow {
    position: relative;
    background-color: #ccecfe;
    /* box-shadow: 2px 2px 2px 2px gray;s */

    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    height: 50px;
    text-align: center;
    align-items: center;
    /* transform: translateY(-100%); */
    animation: 0.5s ease-in-out 0s 1 slideInFromLeft;
    z-index: 0;

    overflow: hidden;
}

.newrow td {
    /* background-color: #33B6FE; */
    height: 50px;
    align-items: center;
    border-right: 1px solid #a2d8d8;
    border-left: 1px solid #a2d8d8;
    border-bottom: 1px solid #a2d8d8;

    border-top: 2px solid #a2d8d8;

    overflow: hidden;
    font-size: 14pt;
    color: #777777;
    z-index: 0;
    /* width: 500px */
}

/* .addrow_button td{
  border: 2px solid purple;
} */

.checkbox_col {
    background-color: azure;
    width: 5%;
}

.checkbox_col input,
.datatable th input {
    width: 20px;
    height: 20px;
}

.name_col {
    background-color: azure;
    width: 30%;
}

.query_col {
    background-color: azure;
    width: 30%;
    align-items: center;
}
.query_col div {
    /* position: initial; */
    width: 100%;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.query_col input {
    background-color: white;
    height: 40px;
    width: 75%;
    margin: 10px;
    border-radius: 10px;
    font-size: 12pt;
    color: #777777;
    padding: 10px;
    background-color: white;
}

.query_col textarea {
    /* background-color: black; */
    width: 100%;
    height: 150px;
    resize: none;
    margin: 10px;

    /* height: 40px; */
    padding: 10px;
    /* text-align: center; */
    border-radius: 10px;

    font-size: 10pt;
    color: #777777;
    background-color: white;
}

.querybutton div {
    border-radius: 5px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #b8e5fe;
    text-align: center;
    font-size: 10pt;
    cursor: default;
    z-index: unset;
    margin: 10px;
}

.querybutton div:hover {
    background-color: #66c8fe;
}

.querybutton div:active {
    background-color: #ccecfe;
}

.queryfield textarea {
    width: 75%;
}

.date_col {
    background-color: azure;
    width: 15%;
}

/* .tr {
  border-color:red;
} */

.toolbar {
    width: 100%;
    height: 50px;

    /* background-color: #b8e5fe; */

    background-color: azure;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
    align-items: center;
    border-radius: 5px;

    box-shadow: 0 0 4px 2px #ccecfe;

    display: flex;
    flex-direction: row;
    gap: 1%;
}

.confirm_div {
    /* margin: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.toolbar_button {
    background-color: inherit;
    border-radius: 30px;
    width: 0px;
    height: 0px;
    margin: 20px;
    padding: 0px;
    position: relative;
    background-color: #7ad1f8;

    transition:
        padding 0.05s ease-in-out,
        margin 0.05s ease-in-out;
}

.toolbar_button:hover {
    padding: 20px;
    margin: 0px;
    /* transform: scale(2); */
    background-color: #7ad1f8;
}

.toolbar_button:active {
    background-color: #ccecfe;
}

.toolbar_slash {
    background-color: inherit;
    width: 0px;
    height: 0px;
    margin: 0px;

    padding: 5px;
    position: relative;
}

.image {
    /* background-color: blueviolet; */
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);

    /* animation: in 4s linear 0s infinite normal; */
}
.toolbar_button > input {
    display: none;
}

.dropdown {
    background-color: inherit;
    width: max-content;
    position: relative;
}

.menu {
    position: absolute;
    top: 50%;
    left: 0%;

    padding: 10px;
    background-color: white;
    width: 200px;
    border-radius: 5px;
    box-shadow: 0 0 4px 2px #ccecfe;
    z-index: 11;
}

/* .image:hover{
  background-color: red;
} */

.notifdialog {
    position: fixed;
    bottom: 0;
    left: 0;

    width: 300px;
    height: 100px;
    /* border: 1px solid #CCECFE; */
    background-color: #ffffff;
    /* padding: 10px; */
    margin: 20px;
    /* padding-left: 20px; */
    align-items: center;
    border-radius: 15px;

    display: flex;
    flex-direction: row;
    gap: 1%;
    justify-content: space-between;
    box-shadow: 0 0 4px 2px #ccecfe;
    z-index: 0;
}

.notif_right {
    /* background-color: #000000; */
    width: 70%;
    height: 100%;
    /* height: fit-content; */
    display: flex;
    flex-direction: column;
    gap: 5%;
    align-items: flex-end;
    justify-content: space-between;
}

.notif_right > p {
    /* background-color: #AA0000; */
    width: 100%;
    height: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.notif_icon {
    background-color: inherit;
    width: 0px;
    height: 0px;
    margin: 20px;

    padding: 20px;
    position: relative;
}

.notif_button {
    border-radius: 10px;
    margin-bottom: 7px;
    margin-right: 7px;
    width: 70px;
    height: 30px;
    padding: 5px;
    background-color: #b8e5fe;
    cursor: default;
}

.notif_button:hover {
    /* transform: scale(2); */
    background-color: #66c8fe;
}

.notif_button:active {
    background-color: #ccecfe;
}

.connectDialog {
    background-color: white;
    height: fit-content;
    width: fit-content;

    border-radius: 10px;
    font-size: 14pt;
    /* color: white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.connectDialog div {
    /* background-color: white; */
    height: 30px;
    width: 40%;
    line-height: 30px;

    border-radius: 10px;
    font-size: 10pt;
    color: #000000;
    /* background-color: white; */
    margin-top: 10px;
}

.connectDialog input {
    /* background-color: white; */
    height: 20px;
    width: 100%;
    padding: 10px;

    border-radius: 5px;
    font-size: 10pt;
    color: #777777;
    /* background-color: white; */
}
